<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Dogs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>All Dogs</h1>
    <div class="animal-container">
        {% for dog in dogs %}
        <div class="animal-item">
            <img src="{{ url_for('static', filename='uploads/' ~ dog.image_filename) }}" alt="{{ dog.name }}" class="animal-image">
            <h2>{{ dog.name }}</h2>
            <p>{{ dog.breed }}</p>
            <a href="/dog/{{ dog.id }}">View Details</a>
            <form action="/delete_dog/{{ dog.id }}" method="POST" style="display: inline;">
                <button type="submit" class="delete-button">Delete</button>
            </form>
        </div>
        {% endfor %}
    </div>
    <a href="/add_dog">Add a new dog</a>
</body>
</html>
