/* styles.css */
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #f27629;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

header p {
    font-size: 18px;
}

/* Existing styles... */

/* Style for the container to ensure vertical alignment */
.container {
    display: flex;
    flex-direction: column; /* Ensure children are stacked vertically */
    align-items: center; /* Center-align children horizontally */
    justify-content: center; /* Center-align children vertically */
    max-width: 600px; /* Adjust based on your design */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Style for the 'Back to Home' button */
.button {
    background-color: #007bff; /* Blue color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Add margin to separate from other elements */
}

.button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}



.adopt-button {
    background-color: #ff4d4d; /* Pinkish-red color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.adopt-button .heart-icon {
    font-size: 24px;
    margin-right: 10px;
}

.adopt-button:hover {
    background-color: #ff1a1a; /* Darker pinkish-red on hover */
}



.book-cover {
    flex: 1; /* Adjust the width of the left column */
    padding: 20px;
}

.book-details {
    flex: 2; /* Adjust the width of the right column */
    padding: 20px;
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.book-details h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.book-details p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 20px;
}

.book-cover img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 2px solid #ddd;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f27629;
    color: #fff;
    font-size: 16px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }

    header p {
        font-size: 16px;
    }

    main {
        padding: 10px;
    }

    .book-details h2 {
        font-size: 20px;
    }

    .book-details p {
        font-size: 16px;
    }
}
