<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link
      rel="stylesheet"
      href="{{url_for('static',filename='fimglobal.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='fimindex.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arial:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Audiowide:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Athiti:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arial Rounded MT Bold:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="root">
      <div class="pfdc-header">
        <div class="header">
          <div class="container">
            <div class="margin">
              <div class="container1">
                <div class="verticalborder">
                  <div class="link" id="linkContainer">
                    <img
                      class="img-icon"
                      loading="lazy"
                      alt=""
                      src="{{url_for('static',filename='public6/img.svg')}}"
                    />
                  </div>
                </div>
                <div class="container2">
                  <div class="container3">
                    <div class="item">
                      <div class="button-dialog">
                        <div class="container5">
                          <img
                            class="svg-icon"
                            loading="lazy"
                            alt=""
                            src="{{url_for('static',filename='public6/svg.svg')}}"
                          />

                          <div class="margin1">
                            <a class="sign-in">Sign In</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <header class="backgroundshadow">
        <div class="container6">
          <div class="container7">
            <nav class="container8">
              <div class="pfdc-animal-type-select">
                <div class="container9">
                  <div class="pf-focus-manager-button-menu">
                    <div class="k-dogs">2.0K Dogs</div>
                    <img
                      class="img-icon1"
                      loading="lazy"
                      alt=""
                      src="{{url_for('static',filename='public6/img-1.svg')}}"
                    />

                    <img
                      class="image-icon"
                      loading="lazy"
                      alt=""
                      src="{{url_for('static',filename='public6/image.svg')}}"
                    />
                  </div>
                </div>
              </div>
              <div class="pfdc-element">
                <div class="pfdc-generic-select">
                  <div class="button-menu-select-distance">
                    <div class="container10">
                      <div class="container11">
                        <div class="miles">100 miles</div>
                      </div>
                    </div>
                  </div>
                  <img
                    class="image-icon1"
                    loading="lazy"
                    alt=""
                    src="{{url_for('static',filename='public6/image-1.svg')}}"
                  />
                </div>
              </div>
              <div class="pfdc-suggester">
                <div class="pfdc-element1">
                  <div class="button-search-locations-by-e">
                    <a class="near-california">near California</a>
                  </div>
                </div>
              </div>
            </nav>
            <div class="container12">
              <div class="container13">
                <div class="item">
                  <div class="button">
                    <div class="save-search">Save Search</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="content">
        <div class="main-content">
          <div class="purrfect-match-wrapper">
            <h1 class="purrfect-match">FIND YOUR MATCH</h1>
          </div>
          <h3 class="at-purrfect-match-container">
            <p class="at-purrfect-match">
              At PURRFECT Match, we believe every pet deserves a friend who
              truly understands them. Whether your furry
            </p>
            <p class="at-purrfect-match">
              friend is a playful pup or a curious kitty, our platform connects
              them with other pets for friendship,
            </p>
            <p class="at-purrfect-match">
              fun, and maybe even a little romance!
            </p>
            <p class="at-purrfect-match">&nbsp;</p>
            <p class="at-purrfect-match">
              With an easy-to-use interface, PURRFECT Match allows pet owners to
              create profiles for their pets, browse
            </p>
            <p class="at-purrfect-match">
              potential matches, and set up playdates in their local area. It's
              like Tinder, but for your beloved cats and dogs!
            </p>
            <p class="at-purrfect-match">
              Join the PURRFECT Match community today and let your pet find
              their purrfecT match!
            </p>
          </h3>
        </div>
      </section>
      <section class="pets-content-wrapper">
        <div class="pets-content">
          <div class="pet-card">
            <div class="pet-card-grid">
              <div class="pfdc-pet-card">
                <div
                  class="link-sylvie-aussie-or-mix"
                  id="linkSylvieAussieOrMix"
                >
                  <img
                    class="pfdc-lazy-load-icon"
                    loading="lazy"
                    alt=""
                    src="{{url_for('static',filename='public6/pfdclazyload.svg')}}"
                  />
                </div>
              </div>
              <div class="background">
                <h3 class="carlos">CARLOS</h3>
                <div class="pet-card-info-list">
                  <div class="pet-card-info-container-list">
                    <div class="followers-9">FOLLOWERS: 9</div>
                  </div>
                  <div class="pet-card-social-list">
                    <div class="pet-card-social-container-list">
                      <div class="follow">FOLLOW</div>
                    </div>
                    <div class="pet-card-chat-list">
                      <div class="pet-card-chat-container-list">
                        <div class="chat">CHAT</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pet-card-grid">
              <div class="pfdc-pet-card">
                <div
                  class="link-sylvie-aussie-or-mix"
                  id="linkSylvieAussieOrMix"
                >
                  <img
                    class="pfdc-lazy-load-icon"
                    loading="lazy"
                    alt=""
                    src="{{url_for('static',filename='public6/pfdclazyload-1.svg')}}"
                  />
                </div>
              </div>
              <div class="background1">
                <h3 class="robo">ROBO</h3>
                <div class="pet-card-info-list">
                  <div class="pet-card-info-container-list">
                    <div class="followers-9">FOLLOWERS: 9</div>
                  </div>
                  <div class="pet-card-social-list">
                    <div class="pet-card-social-container-list">
                      <div class="follow">FOLLOW</div>
                    </div>
                    <div class="pet-card-chat-list">
                      <div class="pet-card-chat-container-list">
                        <div class="chat">CHAT</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pet-card-grid">
              <div class="pfdc-pet-card">
                <div
                  class="link-sylvie-aussie-or-mix"
                  id="linkSylvieAussieOrMix"
                >
                  <img
                    class="pfdc-lazy-load-icon"
                    loading="lazy"
                    alt=""
                    src="{{url_for('static',filename='public6/pfdclazyload-2.svg')}}"
                  />
                </div>
              </div>
              <div class="background1">
                <h3 class="sherlyn">SHERLYN</h3>
                <div class="pet-card-info-list">
                  <div class="pet-card-info-container-list">
                    <div class="followers-9">FOLLOWERS: 9</div>
                  </div>
                  <div class="pet-card-social-list">
                    <div class="pet-card-social-container-list">
                      <div class="follow">FOLLOW</div>
                    </div>
                    <div class="pet-card-chat-list">
                      <div class="pet-card-chat-container-list">
                        <div class="chat">CHAT</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pet-card-grid">
              <div class="pfdc-pet-card">
                <div
                  class="link-annie-mae-husky-mix-ca"
                  id="linkAnnieMaeHuskyMixCa"
                >
                  <img
                    class="pfdc-lazy-load-icon"
                    loading="lazy"
                    alt=""
                    src="{{url_for('static',filename='public6/pfdclazyload-3.svg')}}"
                  />

                  <div class="favorite-annie-mae-husky-mix"></div>
                </div>
              </div>
              <div class="background">
                <h3 class="tom">TOM</h3>
                <div class="pet-card-info-component-list">
                  <div class="pet-card-info-container-compon">
                    <div class="follow-frame">
                      <div class="follow">FOLLOW</div>
                    </div>
                  </div>
                  <div class="pet-card-social-component-list">
                    <div class="followers-9-frame">
                      <div class="followers-9">FOLLOWERS: 9</div>
                    </div>
                    <div class="chat-frame">
                      <div class="chat">CHAT</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pet-card-grid">
              <div class="pfdc-pet-card">
                <div
                  class="link-annie-mae-husky-mix-ca"
                  id="linkAnnieMaeHuskyMixCa"
                >
                  <img
                    class="pfdc-lazy-load-icon"
                    loading="lazy"
                    alt=""
                    src="{{url_for('static',filename='public6/pfdclazyload-4.svg')}}"
                  />

                  <div class="favorite-annie-mae-husky-mix"></div>
                </div>
              </div>
              <div class="background4">
                <h3 class="husky">HUSKY</h3>
                <div class="pet-card-info-component-list">
                  <div class="pet-card-info-container-compon">
                    <div class="follow-frame">
                      <div class="follow">FOLLOW</div>
                    </div>
                  </div>
                  <div class="pet-card-social-component-list">
                    <div class="followers-9-frame">
                      <div class="followers-9">FOLLOWERS: 9</div>
                    </div>
                    <div class="chat-frame">
                      <div class="chat">CHAT</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pet-card-grid">
              <div class="pfdc-pet-card">
                <div
                  class="link-annie-mae-husky-mix-ca"
                  id="linkAnnieMaeHuskyMixCa"
                >
                  <img
                    class="pfdc-lazy-load-icon"
                    loading="lazy"
                    alt=""
                    src="{{url_for('static',filename='public6/pfdclazyload-5.svg')}}"
                  />

                  <div class="favorite-annie-mae-husky-mix"></div>
                </div>
              </div>
              <div class="background4">
                <h3 class="thiva">THIVA</h3>
                <div class="pet-card-info-component-list">
                  <div class="pet-card-info-container-compon">
                    <div class="follow-frame">
                      <div class="follow">FOLLOW</div>
                    </div>
                  </div>
                  <div class="pet-card-social-component-list">
                    <div class="followers-9-frame">
                      <div class="followers-9">FOLLOWERS: 9</div>
                    </div>
                    <div class="chat-frame">
                      <div class="chat">CHAT</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pet-card-container-list-parent">
            <div class="pet-card-container-list">
              <div class="pet-card-items-list">
                <div class="pfdc-pet-card6">
                  <div
                    class="link-cinnabear-female-mix"
                    id="linkCinnabearFemaleMix"
                  >
                    <img
                      class="pfdc-lazy-load-icon"
                      loading="lazy"
                      alt=""
                      src="{{url_for('static',filename='public6/pfdclazyload-6.svg')}}"
                    />

                    <div class="favorite-annie-mae-husky-mix"></div>
                  </div>
                </div>
                <div class="background">
                  <h3 class="bolt">BOLT</h3>
                  <div class="pet-card-info-component-list">
                    <div class="pet-card-info-container-compon">
                      <div class="follow-frame">
                        <div class="follow">FOLLOW</div>
                      </div>
                    </div>
                    <div class="pet-card-social-component-list">
                      <div class="followers-9-frame">
                        <div class="followers-9">FOLLOWERS: 9</div>
                      </div>
                      <div class="chat-frame">
                        <div class="chat">CHAT</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pet-card-items-list">
                <div class="pfdc-pet-card6">
                  <div class="link-brioni-california" id="linkBrioniCalifornia">
                    <img
                      class="pfdc-lazy-load-icon"
                      loading="lazy"
                      alt=""
                      src="{{url_for('static',filename='public6/pfdclazyload-7.svg')}}"
                    />
                  </div>
                </div>
                <div class="background1">
                  <h3 class="doggo">ROHAN</h3>
                  <div class="pet-card-info-component-list">
                    <div class="pet-card-info-container-compon">
                      <div class="follow-frame">
                        <div class="follow">FOLLOW</div>
                      </div>
                    </div>
                    <div class="pet-card-social-component-list">
                      <div class="followers-9-frame">
                        <div class="followers-9">FOLLOWERS: 9</div>
                      </div>
                      <div class="chat-frame">
                        <div class="chat">CHAT</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pet-card-container-list">
              <div class="pet-card-items-list">
                <div class="pfdc-pet-card6">
                  <div
                    class="link-cinnabear-female-mix"
                    id="linkCinnabearFemaleMix"
                  >
                    <img
                      class="pfdc-lazy-load-icon"
                      loading="lazy"
                      alt=""
                      src="{{url_for('static',filename='public6/pfdclazyload-8.svg')}}"
                    />

                    <div class="favorite-annie-mae-husky-mix"></div>
                  </div>
                </div>
                <div class="background4">
                  <h3 class="bolt">DELL</h3>
                  <div class="pet-card-info-component-list">
                    <div class="pet-card-info-container-compon">
                      <div class="follow-frame">
                        <div class="follow">FOLLOW</div>
                      </div>
                    </div>
                    <div class="pet-card-social-component-list">
                      <div class="followers-9-frame">
                        <div class="followers-9">FOLLOWERS: 9</div>
                      </div>
                      <div class="chat-frame">
                        <div class="chat">CHAT</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pet-card-items-list">
                <div class="pfdc-pet-card6">
                  <div class="link-brioni-california" id="linkBrioniCalifornia">
                    <img
                      class="pfdc-lazy-load-icon"
                      loading="lazy"
                      alt=""
                      src="{{url_for('static',filename='public6/pfdclazyload-9.svg')}}"
                    />
                  </div>
                </div>
                <div class="background1">
                  <h3 class="kit">ANASTASIA</h3>
                  <div class="pet-card-info-component-list">
                    <div class="pet-card-info-container-compon">
                      <div class="follow-frame">
                        <div class="follow">FOLLOW</div>
                      </div>
                    </div>
                    <div class="pet-card-social-component-list">
                      <div class="followers-9-frame">
                        <div class="followers-9">FOLLOWERS: 9</div>
                      </div>
                      <div class="chat-frame">
                        <div class="chat">CHAT</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pet-card-container-list">
              <div class="pet-card-items-list">
                <div class="pfdc-pet-card6">
                  <div
                    class="link-cinnabear-female-mix"
                    id="linkCinnabearFemaleMix"
                  >
                    <img
                      class="pfdc-lazy-load-icon"
                      loading="lazy"
                      alt=""
                      src="{{url_for('static',filename='public6/pfdclazyload-10.svg')}}"
                    />

                    <div class="favorite-annie-mae-husky-mix"></div>
                  </div>
                </div>
                <div class="background4">
                  <h3 class="oggy">OGGY</h3>
                  <div class="pet-card-info-component-list">
                    <div class="pet-card-info-container-compon">
                      <div class="follow-frame">
                        <div class="follow">FOLLOW</div>
                      </div>
                    </div>
                    <div class="pet-card-social-component-list">
                      <div class="followers-9-frame">
                        <div class="followers-9">FOLLOWERS: 9</div>
                      </div>
                      <div class="chat-frame">
                        <div class="chat">CHAT</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pet-card-items-list">
                <div class="pfdc-pet-card6">
                  <div class="link-brioni-california" id="linkBrioniCalifornia">
                    <img
                      class="pfdc-lazy-load-icon"
                      loading="lazy"
                      alt=""
                      src="{{url_for('static',filename='public6/pfdclazyload-11.svg')}}"
                    />
                  </div>
                </div>
                <div class="background1">
                  <h3 class="smith">SMITH</h3>
                  <div class="pet-card-info-component-list">
                    <div class="pet-card-info-container-compon">
                      <div class="follow-frame">
                        <div class="follow">FOLLOW</div>
                      </div>
                    </div>
                    <div class="pet-card-social-component-list">
                      <div class="followers-9-frame">
                        <div class="followers-9">FOLLOWERS: 9</div>
                      </div>
                      <div class="chat-frame">
                        <div class="chat">CHAT</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="background12">
        <div class="container15">
          <div class="container16"></div>
          <div class="container17">
            <div class="container18">
              <div class="container19">
                <div class="heading-2margin">
                  <div class="heading-2">
                    <div class="resources">Resources</div>
                  </div>
                </div>
                <div class="list">
                  <div class="item">
                    <div class="link1">
                      <a
                        class="faqs"
                        href="https://www.petfinder.com/adopt-or-get-involved/adopting-pets/how-to/pet-adoption-faqs/"
                        target="_blank"
                        >FAQs</a
                      >
                    </div>
                  </div>
                  <div class="item">
                    <div class="link2">
                      <a
                        class="mobile-app-download"
                        href="https://www.petfinder.com/adopt-or-get-involved/about-petfinder/mobile-app-download/"
                        target="_blank"
                        >Mobile App Download</a
                      >
                    </div>
                  </div>
                  <div class="item">
                    <div class="link3">
                      <a
                        class="partnerships"
                        href="https://www.petfinder.com/partnerships/"
                        target="_blank"
                        >Partnerships</a
                      >
                    </div>
                  </div>
                  <div class="item">
                    <div class="link4">
                      <a
                        class="mobile-app-download"
                        href="https://newscenter.purina.com/"
                        target="_blank"
                        >News Center</a
                      >
                    </div>
                  </div>
                  <div class="item4">
                    <div class="link5">
                      <a
                        class="mobile-app-download"
                        href="https://www.petfinder.com/tools-widgets/custom-pet-list/getting-started/"
                        target="_blank"
                        >Put Petfinder On Your Site</a
                      >
                    </div>
                  </div>
                  <div class="item">
                    <div class="link6">
                      <a
                        class="mobile-app-download"
                        href="https://www.petfinder.com/developers/"
                        target="_blank"
                        >For Developers</a
                      >
                    </div>
                  </div>
                  <div class="item">
                    <div class="link1">
                      <a
                        class="contact-us"
                        href="https://www.petfinder.com/contact/"
                        target="_blank"
                        >Contact Us</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="container20">
                <div class="heading-2margin">
                  <div class="heading-2">
                    <div class="resources">Adopt or Get Involved</div>
                  </div>
                </div>
                <div class="list">
                  <div class="item">
                    <div class="link8">
                      <a
                        class="mobile-app-download"
                        href="https://www.petfinder.com/adopt-or-get-involved/"
                        target="_blank"
                        >All Adopt or Get Involved</a
                      >
                    </div>
                  </div>
                  <div class="item">
                    <div class="link9">
                      <a
                        class="mobile-app-download"
                        href="https://www.petfinder.com/adopt-or-get-involved/adopting-pets/"
                        target="_blank"
                        >Adopting Pets</a
                      >
                    </div>
                  </div>
                  <div class="item">
                    <div class="link10">
                      <a
                        class="mobile-app-download"
                        href="https://www.petfinder.com/adopt-or-get-involved/animal-shelters-rescues/"
                        target="_blank"
                        >Animal Shelters & Rescues</a
                      >
                    </div>
                  </div>
                  <div class="item">
                    <div class="link11">
                      <a
                        class="mobile-app-download"
                        href="https://www.petfinder.com/other-pets/"
                        target="_blank"
                        >Other Types of Pets</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="container21">
                <div class="heading-2margin">
                  <div class="heading-2">
                    <div class="resources">About Dogs & Puppies</div>
                  </div>
                </div>
                <div class="list">
                  <div class="item">
                    <div class="link12">
                      <a
                        class="mobile-app-download"
                        href="https://www.petfinder.com/dogs-and-puppies/"
                        target="_blank"
                        >All About Dogs & Puppies</a
                      >
                    </div>
                  </div>
                  <div class="item">
                    <div class="link13">
                      <a
                        class="mobile-app-download"
                        href="https://www.petfinder.com/dogs-and-puppies/adoption/"
                        target="_blank"
                        >Dog Adoption</a
                      >
                    </div>
                  </div>
                  <div class="item">
                    <div class="link1">
                      <a
                        class="dog-breeds"
                        href="https://www.petfinder.com/dogs-and-puppies/breeds/"
                        target="_blank"
                        >Dog Breeds</a
                      >
                    </div>
                  </div>
                  <div class="item">
                    <div class="link15">
                      <a
                        class="mobile-app-download"
                        href="https://www.petfinder.com/dogs-and-puppies/feeding/"
                        target="_blank"
                        >Feeding Your Dog</a
                      >
                    </div>
                  </div>
                  <div class="item">
                    <div class="link13">
                      <a
                        class="mobile-app-download"
                        href="https://www.petfinder.com/dogs-and-puppies/behavior/"
                        target="_blank"
                        >Dog Behavior</a
                      >
                    </div>
                  </div>
                  <div class="item">
                    <div class="link17">
                      <a
                        class="mobile-app-download"
                        href="https://www.petfinder.com/dogs-and-puppies/health-wellness/"
                        target="_blank"
                        >Dog Health & Wellness</a
                      >
                    </div>
                  </div>
                  <div class="item">
                    <div class="link18">
                      <a
                        class="mobile-app-download"
                        href="https://www.petfinder.com/dogs-and-puppies/training/"
                        target="_blank"
                        >Dog Training</a
                      >
                    </div>
                  </div>
                  <div class="item">
                    <div class="link19">
                      <a
                        class="mobile-app-download"
                        href="https://www.petfinder.com/dogs-and-puppies/information/"
                        target="_blank"
                        >Other Dog Information</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="container22">
                <div class="heading-2margin">
                  <div class="heading-2">
                    <div class="resources">About Cats & Kittens</div>
                  </div>
                </div>
                <div class="list">
                  <div class="item">
                    <div class="link20">
                      <a
                        class="mobile-app-download"
                        href="https://www.petfinder.com/cats-and-kittens/"
                        target="_blank"
                        >All About Cats & Kittens</a
                      >
                    </div>
                  </div>
                  <div class="item">
                    <div class="link4">
                      <a
                        class="mobile-app-download"
                        href="https://www.petfinder.com/cats-and-kittens/adoption/"
                        target="_blank"
                        >Cat Adoption</a
                      >
                    </div>
                  </div>
                  <div class="item">
                    <div class="link1">
                      <a
                        class="cat-breeds"
                        href="https://www.petfinder.com/cats-and-kittens/breeds/"
                        target="_blank"
                        >Cat Breeds</a
                      >
                    </div>
                  </div>
                  <div class="item">
                    <div class="link23">
                      <a
                        class="mobile-app-download"
                        href="https://www.petfinder.com/cats-and-kittens/feeding/"
                        target="_blank"
                        >Feeding Your Cat</a
                      >
                    </div>
                  </div>
                  <div class="item">
                    <div class="link4">
                      <a
                        class="mobile-app-download"
                        href="https://www.petfinder.com/cats-and-kittens/behavior/"
                        target="_blank"
                        >Cat Behavior</a
                      >
                    </div>
                  </div>
                  <div class="item">
                    <div class="link25">
                      <a
                        class="mobile-app-download"
                        href="https://www.petfinder.com/cats-and-kittens/health-wellness/"
                        target="_blank"
                        >Cat Health & Wellness</a
                      >
                    </div>
                  </div>
                  <div class="item">
                    <div class="link26">
                      <a
                        class="mobile-app-download"
                        href="https://www.petfinder.com/cats-and-kittens/training/"
                        target="_blank"
                        >Cat Training</a
                      >
                    </div>
                  </div>
                  <div class="item">
                    <div class="link27">
                      <a
                        class="mobile-app-download"
                        href="https://www.petfinder.com/cats-and-kittens/information/"
                        target="_blank"
                        >Other Cat Information</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer">
            <div class="list4">
              <div class="item27">
                <a
                  class="shelter-rescue"
                  href="https://www.petfinder.com/register/"
                  target="_blank"
                  >Shelter & Rescue Registration</a
                >
                <div class="vertical-divider"></div>
              </div>
              <div class="item28">
                <a
                  class="sitemap"
                  href="https://www.petfinder.com/sitemap/"
                  target="_blank"
                  >Sitemap</a
                >
                <div class="vertical-divider"></div>
              </div>
              <div class="item29">
                <a
                  class="shelter-rescue"
                  href="https://www.petfinder.com/terms-of-service/"
                  target="_blank"
                  >Terms of Service</a
                >
                <div class="vertical-divider"></div>
              </div>
              <div class="item30">
                <a
                  class="shelter-rescue"
                  href="https://www.petfinder.com/privacy-policy/en/#notice-at-collection"
                  target="_blank"
                  >Notice at Collection</a
                >
                <div class="vertical-divider"></div>
              </div>
              <div class="item31">
                <a
                  class="shelter-rescue"
                  href="https://www.petfinder.com/privacy-policy/en/"
                  target="_blank"
                  >Privacy Policy (updated)</a
                >
                <div class="vertical-divider"></div>
              </div>
              <div class="item32">
                <a
                  class="accessibility"
                  href="https://www.purina.com/accessibility"
                  target="_blank"
                  >Accessibility</a
                >
                <div class="vertical-divider"></div>
              </div>
              <div class="item33">
                <a
                  class="shelter-rescue"
                  href="https://www.purina.com/cookie-policy"
                  target="_blank"
                  >Cookie Policy</a
                >
                <div class="vertical-divider"></div>
              </div>
              <div class="item34">
                <div class="button1">
                  <div class="container13">
                    <div class="your-privacy-choices">Your Privacy Choices</div>
                  </div>
                  <img
                    class="privacy-icon"
                    loading="lazy"
                    alt=""
                    src="{{url_for('static',filename='public6/frame.svg')}}"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="background13">
        <div class="container24">
          <div class="margin2">
            <div class="paragraph">
              <div class="petfindercom">©2024 Petfinder.com</div>
              <div class="all-trademarks-are">
                All trademarks are owned by Société des Produits Nestlé S.A., or
                used with permission.
              </div>
            </div>
          </div>
          <div class="container25">
            <div class="list5">
              <div class="link1">
                <div class="link-facebook" id="linkFacebook">
                  <img
                    class="svg-icon1"
                    loading="lazy"
                    alt=""
                    src="{{url_for('static',filename='public6/svg-1.svg')}}"
                  />
                </div>
              </div>
              <div class="link-facebook" id="itemLinkTwitter">
                <img
                  class="svg-icon1"
                  loading="lazy"
                  alt=""
                  src="{{url_for('static',filename='public6/svg-2.svg')}}"
                />
              </div>
              <div class="link-facebook" id="itemLinkInstagram">
                <img
                  class="svg-icon1"
                  loading="lazy"
                  alt=""
                  src="{{url_for('static',filename='public6/svg-3.svg')}}"
                />
              </div>
              <div class="link-facebook" id="itemLinkYouTube">
                <img
                  class="svg-icon1"
                  loading="lazy"
                  alt=""
                  src="{{url_for('static',filename='public6/svg-4.svg')}}"
                />
              </div>
              <div class="link-facebook" id="itemLinkPinterest">
                <img
                  class="svg-icon1"
                  loading="lazy"
                  alt=""
                  src="{{url_for('static',filename='public6/svg-5.svg')}}"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var linkContainer = document.getElementById("linkContainer");
      if (linkContainer) {
        linkContainer.addEventListener("click", function () {
          window.open("https://www.petfinder.com/user/favorites/");
        });
      }

      var linkSylvieAussieOrMix = document.getElementById(
        "linkSylvieAussieOrMix"
      );
      if (linkSylvieAussieOrMix) {
        linkSylvieAussieOrMix.addEventListener("click", function () {
          window.open(
            "https://www.petfinder.com/dog/sylvie-aussie-or-mix-oakhurst-ca-71799631/ca/oakhurst/kellen-rescue-ca1382/"
          );
        });
      }

      var linkAnnieMaeHuskyMixCa = document.getElementById(
        "linkAnnieMaeHuskyMixCa"
      );
      if (linkAnnieMaeHuskyMixCa) {
        linkAnnieMaeHuskyMixCa.addEventListener("click", function () {
          window.open(
            "https://www.petfinder.com/dog/annie-mae-husky-mix-california-71081391/ca/oakhurst/kellen-rescue-ca1382/"
          );
        });
      }

      var linkCinnabearFemaleMix = document.getElementById(
        "linkCinnabearFemaleMix"
      );
      if (linkCinnabearFemaleMix) {
        linkCinnabearFemaleMix.addEventListener("click", function () {
          window.open(
            "https://www.petfinder.com/dog/cinnabear-female-mix-oakhurst-ca-68806615/ca/oakhurst/kellen-rescue-ca1382/"
          );
        });
      }

      var linkBrioniCalifornia = document.getElementById(
        "linkBrioniCalifornia"
      );
      if (linkBrioniCalifornia) {
        linkBrioniCalifornia.addEventListener("click", function () {
          window.open(
            "https://www.petfinder.com/dog/brioni-california-65571661/ca/oakhurst/kellen-rescue-ca1382/"
          );
        });
      }

      var linkFacebook = document.getElementById("linkFacebook");
      if (linkFacebook) {
        linkFacebook.addEventListener("click", function () {
          window.open("https://www.facebook.com/Petfinder");
        });
      }

      var itemLinkTwitter = document.getElementById("itemLinkTwitter");
      if (itemLinkTwitter) {
        itemLinkTwitter.addEventListener("click", function () {
          window.open("https://twitter.com/Petfinder");
        });
      }

      var itemLinkInstagram = document.getElementById("itemLinkInstagram");
      if (itemLinkInstagram) {
        itemLinkInstagram.addEventListener("click", function () {
          window.open("https://www.instagram.com/petfinder/");
        });
      }

      var itemLinkYouTube = document.getElementById("itemLinkYouTube");
      if (itemLinkYouTube) {
        itemLinkYouTube.addEventListener("click", function () {
          window.open(
            "https://www.youtube.com/channel/UC85FmJhwKDfiXfialMvyM5g"
          );
        });
      }

      var itemLinkPinterest = document.getElementById("itemLinkPinterest");
      if (itemLinkPinterest) {
        itemLinkPinterest.addEventListener("click", function () {
          window.open("https://www.pinterest.com/petfinder/");
        });
      }
    </script>
  </body>
</html>
