<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='shelterglobal.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='shelterin.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arial:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Audiowide:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=JetBrains Mono:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=JejuGothic:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Trebuchet MS:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="background-parent">
      <header class="background">
        <div class="container">
          <div class="container1">
            <div class="buttonmargin">
              <div class="button">
                <img
                  class="image-icon"
                  alt=""
                  src="{{ url_for('static', filename='public3/image.svg') }}"
                />

                <a class="find-a-pet">Find a Pet</a>
              </div>
            </div>
            <div class="buttonmargin1">
              <div class="button1">
                <img
                  class="image-icon"
                  alt=""
                  src="{{ url_for('static', filename='public3/image-1.svg') }}"
                />

                <a class="all-about-pets">All About Pets</a>
              </div>
            </div>
          </div>
          <div class="link" id="linkContainer">
            <img
              class="img-icon"
              loading="lazy"
              alt=""
              src="{{ url_for('static', filename='public3/img.svg') }}"
            />
          </div>
          <div class="margin">
            <div class="container2">
              <div class="container3">
                <div class="button-dialog">
                  <div class="container4">
                    <img
                      class="svg-icon"
                      alt=""
                      src="{{ url_for('static', filename='public3/svg.svg') }}"
                    />

                    <div class="margin1">
                      <a class="sign-in">Sign In</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <main class="frame-wrapper">
        <section class="frame-parent">
          <div class="frame-group">
            <div class="frame-container">
              <div class="shelter-recuse-wrapper">
                <h1 class="shelter-recuse">SHELTER & RECUSE</h1>
              </div>
              <b class="in-every-rescued-container">
                <p class="in-every-rescued">
                  “In every rescued life, we see the power of compassion, the
                  strength of community, and the promise that no act of
                </p>
                <p class="kindness-is-ever">
                  kindness is ever too small. Together, we create a world where
                  every soul finds shelter,love, and a second chance at life."
                </p>
              </b>
            </div>
            <div class="mahatma-gandhi-wrapper">
              <div class="mahatma-gandhi">-Mahatma Gandhi</div>
            </div>
          </div>
          <div class="section-wrapper">
            <div class="section" margin-bottom=-100px>
              <div class="item-parent">
                <div class="item">
                  <div class="backgroundshadow">
                    <div class="linkmargin">
                      <div class="link1" id="linkContainer">
                        <a href="http://saveourstraysmumbai.org/">
                          <img
                            class="image-icon2"
                            loading="lazy"
                            alt=""
                            src="{{ url_for('static', filename='public3/image-2@2x.png') }}"
                        /></a>
                      </div>
                    </div>
                    <div class="container5">
                      <div class="link-heading-2" id="linkHeading2">
                        <a
                          class="innocent-angels-sanctuary"
                          href="http://saveourstraysmumbai.org/"
                          target="_blank"
                          >Save Our Strays (SOS)</a
                        >
                      </div>
                      <div class="container6">
                        <div class="imgmargin">
                          <div class="img">
                            <img
                              class="frame-icon"
                              loading="lazy"
                              alt=""
                              src="{{ url_for('static', filename='public3/frame@2x.png') }}"
                            />
                          </div>
                        </div>
                        <div class="container7">
                          <div class="coarsegold-ca">
                            17th Road, Khar West, Mumbai
                          </div>
                        </div>
                      </div>
                      <div class="container8">
                        <div class="margin2">
                          <img
                            class="frame-icon"
                            loading="lazy"
                            alt=""
                            src="{{ url_for('static', filename='public3/img-1@2x.png') }}"
                          />
                        </div>
                        <div class="container7">
                          <div class="div">+919820141310</div>
                        </div>
                      </div>
                      <div class="container9"></div>
                    </div>
                  </div>
                </div>
                <div class="item1">
                  <div class="backgroundshadow1">
                    <div class="linkmargin1">
                      <div class="link3" id="linkContainer">
                        <a href="https://www.worldforall.co/">
                          <img
                            class="default-shelter-logopng-icon"
                            loading="lazy"
                            alt=""
                            src="{{ url_for('static', filename='public3/defaultshelterlogopng@2x.png') }}"
                        /></a>
                      </div>
                    </div>
                    <div class="container10">
                      <div class="link-heading-21" id="linkHeading2">
                        <a
                          href="https://www.worldforall.co/"
                          class="kellen-rescue"
                          >World For All</a
                        >
                      </div>
                      <div class="container11">
                        <div class="imgmargin">
                          <img
                            class="frame-icon"
                            loading="lazy"
                            alt=""
                            src="{{ url_for('static', filename='public3/frame@2x.png') }}"
                          />
                        </div>
                        <div class="container7">
                          <div class="oakhurst-ca">
                            Industrial estate, Andheri East, Mumbai
                          </div>
                        </div>
                      </div>
                      <div class="container13">
                        <div class="margin2">
                          <img
                            class="frame-icon"
                            alt=""
                            src="{{ url_for('static', filename='public3/img-1@2x.png') }}"
                          />
                        </div>
                        <div class="container7">
                          <div class="div1">+919820001506</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item-parent">
                <div class="item1">
                  <div class="backgroundshadow2">
                    <div class="linkmargin2">
                      <div class="link5" id="linkContainer">
                        <a href="https://www.bombayspca.org/">
                          <img
                            class="default-shelter-logopng-icon"
                            loading="lazy"
                            alt=""
                            src="{{ url_for('static', filename='public3/defaultshelterlogopng@2x.png') }}"
                        /></a>
                      </div>
                    </div>
                    <div class="container14">
                      <div class="link-heading-22" id="linkHeading2">
                        <a
                          class="lucky-dog-rescue"
                          href="https://www.bombayspca.org/"
                          target="_blank"
                          >BSPCA</a
                        >
                      </div>
                      <div class="container15">
                        <div class="imgmargin">
                          <div class="img">
                            <img
                              class="frame-icon"
                              loading="lazy"
                              alt=""
                              src="{{ url_for('static', filename='public3/frame@2x.png') }}"
                            />
                          </div>
                        </div>
                        <div class="container7">
                          <div class="madera-ca">
                            St Xavier St, Parel, Mumbai
                          </div>
                        </div>
                      </div>
                      <div class="container17">
                        <div class="margin2">
                          <img
                            class="frame-icon"
                            loading="lazy"
                            alt=""
                            src="{{ url_for('static', filename='public3/img-1@2x.png') }}"
                          />
                        </div>
                        <div class="container7">
                          <div class="div">+919372787750</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="backgroundshadow3">
                    <div class="linkmargin1">
                      <div class="link1" id="linkContainer">
                        <a href="https://www.idaindia.org/">
                          <img
                            class="image-icon2"
                            loading="lazy"
                            alt=""
                            src="{{ url_for('static', filename='public3/image-3@2x.png') }}"
                        /></a>
                      </div>
                    </div>
                    <div class="container18">
                      <div class="link-heading-23" id="linkHeading2">
                        <a
                          class="sung-village"
                          href="https://www.idaindia.org/"
                          target="_blank"
                          >In Defence Of Animals</a
                        >
                      </div>
                      <div class="container19">
                        <div class="imgmargin">
                          <img class="img" />
                        </div>
                        <div class="container7">
                          <div class="madera-ca">Turbhe, Navi Mumbai</div>
                        </div>
                      </div>
                      <div class="container13">
                        <div class="margin2">
                          <img
                            class="frame-icon"
                            alt=""
                            src="{{ url_for('static', filename='public3/img-1@2x.png') }}"
                          />
                        </div>
                        <div class="container7">
                          <div class="div">+919320056583</div>
                        </div>
                      </div>
                      <div class="container9"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item-parent">
                <div class="item-container">
                  <div class="container3">
                    <div class="backgroundshadow4">
                      <div class="linkmargin2">
                        <div class="link9" id="linkContainer">
                          <a href="https://yoda.co.in/">
                            <img
                              class="image-icon4"
                              loading="lazy"
                              alt=""
                              src="{{ url_for('static', filename='public3/image-4@2x.png') }}"
                          /></a>
                        </div>
                      </div>
                      <div class="container23">
                        <div class="link-heading-24" id="linkHeading2">
                          <a
                            class="innocent-angels-sanctuary"
                            href="https://yoda.co.in/"
                            target="_blank"
                            >Youth Organisation In Defence Of Animals</a
                          >
                        </div>
                        <div class="container24">
                          <div class="imgmargin">
                            <div class="img">
                              <img
                                class="frame-icon"
                                loading="lazy"
                                alt=""
                                src="{{ url_for('static', filename='public3/frame@2x.png') }}"
                              />
                            </div>
                          </div>
                          <div class="container7">
                            <div class="madera-ca">
                              Sub Plot, Khar West, Mumbai
                            </div>
                          </div>
                        </div>
                        <div class="container26">
                          <div class="margin2">
                            <img
                              class="frame-icon"
                              loading="lazy"
                              alt=""
                              src="{{ url_for('static', filename='public3/img-1@2x.png') }}"
                            />
                          </div>
                          <div class="container7">
                            <div class="div4">+918899997704</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item5">
                    <div class="backgroundshadow5">
                      <div class="linkmargin5">
                        <div class="link11" id="linkContainer">
                          <a href="https://www.wsdindia.org/">
                            <img
                              class="image-icon5"
                              loading="lazy"
                              alt=""
                              src="{{ url_for('static', filename='public3/image-5@2x.png') }}"
                          /></a>
                        </div>
                      </div>
                      <div class="container27">
                        <div class="link-heading-24" id="linkHeading2">
                          <a
                            class="lucky-dog-rescue"
                            href="https://www.wsdindia.org/"
                            target="_blank"
                            >Welfare Of Stray Dogs (WSD)</a
                          >
                        </div>
                        <div class="container28">
                          <div class="imgmargin">
                            <div class="img">
                              <img
                                class="frame-icon"
                                alt=""
                                src="{{ url_for('static', filename='public3/frame-5@2x.png') }}"
                              />
                            </div>
                          </div>
                          <div class="container7">
                            <div class="fresno-ca">
                               Lower Parel, Mumbai
                            </div>
                          </div>
                        </div>
                        <div class="container30">
                          <div class="margin2">
                            <img
                              class="img-icon8"
                              alt=""
                              src="{{ url_for('static', filename='public3/img-6.svg') }}"
                            />
                          </div>
                          <div class="container7">
                            <a
                              class="k9bffhotmailcom"
                              href="mailto:k9bff@hotmail.com"
                              target="_blank"
                              >+912264222838</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item-container">
                  <div class="container3">
                    <div class="backgroundshadow6">
                      <div class="linkmargin2">
                        <div class="link5" id="linkContainer">
                          <a href="https://allaboutthem.in/About">
                            <img
                              class="default-shelter-logopng-icon"
                              loading="lazy"
                              alt=""
                              src="{{ url_for('static', filename='public3/defaultshelterlogopng@2x.png') }}"
                          /></a>
                        </div>
                      </div>
                      <div class="container31">
                        <div class="link-heading-24" id="linkHeading2">
                          <a
                            class="innocent-angels-sanctuary"
                            href="https://allaboutthem.in/About"
                            target="_blank"
                            >All About Them</a
                          >
                        </div>
                        <div class="container32">
                          <div class="imgmargin">
                            <img class="img" />
                          </div>
                          <div class="container7">
                            <div class="madera-ca">
                              Upper Worli, Raod, Mumbai
                            </div>
                          </div>
                        </div>
                        <div class="container34">
                          <div class="margin2">
                            <img
                              class="frame-icon"
                              alt=""
                              src="{{ url_for('static', filename='public3/img-1@2x.png') }}"
                            />
                          </div>
                          <div class="container7">
                            <div class="div">+919136782348</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="backgroundshadow7">
                    <div class="iframe-advertisement">
                      <div class="body">
                        <div class="body-paints"></div>
                        <a href="https://www.amtmindia.org/">
                        <img
                          class="link-9955819227275630470"
                          loading="lazy"
                          alt=""
                          src="{{ url_for('static', filename='public3/link--9955819227275630470@2x.png') }}"
                          id="link9955819227275630470"
                        /></a>

                        <div class="ad-link">
                          <a
                            class="link-purina"
                            href="https://www.amtmindia.org/"
                            target="_blank"
                            >Animals Matter To Me</a
                          >
                          <a
                            class="link-a"
                            href="https://adclick.g.doubleclick.net/pcs/click"
                            target="_blank"
                            >Malad West, Mumbai</a
                          >
                        </div>
                        <div class="container34">
                          <div class="margin2">
                            <img
                              class="frame-icon"
                              alt=""
                              src="{{ url_for('static', filename='public3/img-1@2x.png') }}"
                            />
                          </div>
                            <div class="container7">
                              <div class="div">9920112227</div>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>                  
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="background1">
          <div class="container88">
            <div class="container89"></div>
            <div class="container90">
              <div class="container91">
                <div class="container92">
                  <div class="heading-2margin">
                    <div class="heading-2">
                      <div class="resources">Resources</div>
                    </div>
                  </div>
                  <div class="list">
                    <div class="container3">
                      <div class="link41">
                        <a
                          class="faqs"
                          href="https://www.petfinder.com/adopt-or-get-involved/adopting-pets/how-to/pet-adoption-faqs/"
                          target="_blank"
                          >FAQs</a
                        >
                      </div>
                    </div>
                    <div class="container3">
                      <div class="link42">
                        <a
                          class="mobile-app-download"
                          href="https://www.petfinder.com/adopt-or-get-involved/about-petfinder/mobile-app-download/"
                          target="_blank"
                          >Mobile App Download</a
                        >
                      </div>
                    </div>
                    <div class="container3">
                      <div class="link43">
                        <a
                          class="partnerships"
                          href="https://www.petfinder.com/partnerships/"
                          target="_blank"
                          >Partnerships</a
                        >
                      </div>
                    </div>
                    <div class="container3">
                      <div class="link44">
                        <a
                          class="mobile-app-download"
                          href="https://newscenter.purina.com/"
                          target="_blank"
                          >News Center</a
                        >
                      </div>
                    </div>
                    <div class="item24">
                      <div class="link45">
                        <a
                          class="mobile-app-download"
                          href="https://www.petfinder.com/tools-widgets/custom-pet-list/getting-started/"
                          target="_blank"
                          >Put Petfinder On Your Site</a
                        >
                      </div>
                    </div>
                    <div class="container3">
                      <div class="link46">
                        <a
                          class="mobile-app-download"
                          href="https://www.petfinder.com/developers/"
                          target="_blank"
                          >For Developers</a
                        >
                      </div>
                    </div>
                    <div class="container3">
                      <div class="link41">
                        <a
                          class="contact-us"
                          href="https://www.petfinder.com/contact/"
                          target="_blank"
                          >Contact Us</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container93">
                  <div class="heading-2margin">
                    <div class="heading-2">
                      <div class="resources">Adopt or Get Involved</div>
                    </div>
                  </div>
                  <div class="list">
                    <div class="container3">
                      <div class="link48">
                        <a
                          class="mobile-app-download"
                          href="https://www.petfinder.com/adopt-or-get-involved/"
                          target="_blank"
                          >All Adopt or Get Involved</a
                        >
                      </div>
                    </div>
                    <div class="container3">
                      <div class="link49">
                        <a
                          class="mobile-app-download"
                          href="https://www.petfinder.com/adopt-or-get-involved/adopting-pets/"
                          target="_blank"
                          >Adopting Pets</a
                        >
                      </div>
                    </div>
                    <div class="container3">
                      <div class="link50">
                        <a
                          class="mobile-app-download"
                          href="https://www.petfinder.com/adopt-or-get-involved/animal-shelters-rescues/"
                          target="_blank"
                          >Animal Shelters & Rescues</a
                        >
                      </div>
                    </div>
                    <div class="container3">
                      <div class="link51">
                        <a
                          class="mobile-app-download"
                          href="https://www.petfinder.com/other-pets/"
                          target="_blank"
                          >Other Types of Pets</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container94">
                  <div class="heading-2margin">
                    <div class="heading-2">
                      <div class="resources">About Dogs & Puppies</div>
                    </div>
                  </div>
                  <div class="list">
                    <div class="container3">
                      <div class="link52">
                        <a
                          class="mobile-app-download"
                          href="https://www.petfinder.com/dogs-and-puppies/"
                          target="_blank"
                          >All About Dogs & Puppies</a
                        >
                      </div>
                    </div>
                    <div class="container3">
                      <div class="link53">
                        <a
                          class="mobile-app-download"
                          href="https://www.petfinder.com/dogs-and-puppies/adoption/"
                          target="_blank"
                          >Dog Adoption</a
                        >
                      </div>
                    </div>
                    <div class="container3">
                      <div class="link41">
                        <a
                          class="dog-breeds"
                          href="https://www.petfinder.com/dogs-and-puppies/breeds/"
                          target="_blank"
                          >Dog Breeds</a
                        >
                      </div>
                    </div>
                    <div class="container3">
                      <div class="link55">
                        <a
                          class="mobile-app-download"
                          href="https://www.petfinder.com/dogs-and-puppies/feeding/"
                          target="_blank"
                          >Feeding Your Dog</a
                        >
                      </div>
                    </div>
                    <div class="container3">
                      <div class="link53">
                        <a
                          class="mobile-app-download"
                          href="https://www.petfinder.com/dogs-and-puppies/behavior/"
                          target="_blank"
                          >Dog Behavior</a
                        >
                      </div>
                    </div>
                    <div class="container3">
                      <div class="link57">
                        <a
                          class="mobile-app-download"
                          href="https://www.petfinder.com/dogs-and-puppies/health-wellness/"
                          target="_blank"
                          >Dog Health & Wellness</a
                        >
                      </div>
                    </div>
                    <div class="container3">
                      <div class="link58">
                        <a
                          class="mobile-app-download"
                          href="https://www.petfinder.com/dogs-and-puppies/training/"
                          target="_blank"
                          >Dog Training</a
                        >
                      </div>
                    </div>
                    <div class="container3">
                      <div class="link59">
                        <a
                          class="mobile-app-download"
                          href="https://www.petfinder.com/dogs-and-puppies/information/"
                          target="_blank"
                          >Other Dog Information</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container95">
                  <div class="heading-2margin">
                    <div class="heading-2">
                      <div class="resources">About Cats & Kittens</div>
                    </div>
                  </div>
                  <div class="list">
                    <div class="container3">
                      <div class="link60">
                        <a
                          class="mobile-app-download"
                          href="https://www.petfinder.com/cats-and-kittens/"
                          target="_blank"
                          >All About Cats & Kittens</a
                        >
                      </div>
                    </div>
                    <div class="container3">
                      <div class="link44">
                        <a
                          class="mobile-app-download"
                          href="https://www.petfinder.com/cats-and-kittens/adoption/"
                          target="_blank"
                          >Cat Adoption</a
                        >
                      </div>
                    </div>
                    <div class="container3">
                      <div class="link41">
                        <a
                          class="cat-breeds"
                          href="https://www.petfinder.com/cats-and-kittens/breeds/"
                          target="_blank"
                          >Cat Breeds</a
                        >
                      </div>
                    </div>
                    <div class="container3">
                      <div class="link63">
                        <a
                          class="mobile-app-download"
                          href="https://www.petfinder.com/cats-and-kittens/feeding/"
                          target="_blank"
                          >Feeding Your Cat</a
                        >
                      </div>
                    </div>
                    <div class="container3">
                      <div class="link44">
                        <a
                          class="mobile-app-download"
                          href="https://www.petfinder.com/cats-and-kittens/behavior/"
                          target="_blank"
                          >Cat Behavior</a
                        >
                      </div>
                    </div>
                    <div class="container3">
                      <div class="link65">
                        <a
                          class="mobile-app-download"
                          href="https://www.petfinder.com/cats-and-kittens/health-wellness/"
                          target="_blank"
                          >Cat Health & Wellness</a
                        >
                      </div>
                    </div>
                    <div class="container3">
                      <div class="link66">
                        <a
                          class="mobile-app-download"
                          href="https://www.petfinder.com/cats-and-kittens/training/"
                          target="_blank"
                          >Cat Training</a
                        >
                      </div>
                    </div>
                    <div class="container3">
                      <div class="link67">
                        <a
                          class="mobile-app-download"
                          href="https://www.petfinder.com/cats-and-kittens/information/"
                          target="_blank"
                          >Other Cat Information</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-links">
              <div class="list4">
                <div class="item47">
                  <a
                    class="shelter-rescue"
                    href="https://www.petfinder.com/register/"
                    target="_blank"
                    >Shelter & Rescue Registration</a
                  >
                  <div class="vertical-divider"></div>
                </div>
                <div class="item48">
                  <a
                    class="sitemap"
                    href="https://www.petfinder.com/sitemap/"
                    target="_blank"
                    >Sitemap</a
                  >
                  <div class="vertical-divider"></div>
                </div>
                <div class="item49">
                  <a
                    class="shelter-rescue"
                    href="https://www.petfinder.com/terms-of-service/"
                    target="_blank"
                    >Terms of Service</a
                  >
                  <div class="vertical-divider"></div>
                </div>
                <div class="item50">
                  <a
                    class="shelter-rescue"
                    href="https://www.petfinder.com/privacy-policy/en/#notice-at-collection"
                    target="_blank"
                    >Notice at Collection</a
                  >
                  <div class="vertical-divider"></div>
                </div>
                <div class="item51">
                  <a
                    class="shelter-rescue"
                    href="https://www.petfinder.com/privacy-policy/en/"
                    target="_blank"
                    >Privacy Policy (updated)</a
                  >
                  <div class="vertical-divider"></div>
                </div>
                <div class="item52">
                  <a
                    class="accessibility"
                    href="https://www.purina.com/accessibility"
                    target="_blank"
                    >Accessibility</a
                  >
                  <div class="vertical-divider"></div>
                </div>
                <div class="item53">
                  <a
                    class="shelter-rescue"
                    href="https://www.purina.com/cookie-policy"
                    target="_blank"
                    >Cookie Policy</a
                  >
                  <div class="vertical-divider"></div>
                </div>
                <div class="item54">
                  <div class="button2">
                    <div class="container96">
                      <div class="your-privacy-choices">
                        Your Privacy Choices
                      </div>
                    </div>
                    <img
                      class="frame-icon15"
                      alt=""
                      src="{{ url_for('static', filename='public3/frame-20.svg') }}"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="background2">
          <div class="container97">
            <div class="margin22">
              <div class="paragraph">
                <div class="petfindercom">©2024 Petfinder.com</div>
                <div class="all-trademarks-are">
                  All trademarks are owned by Société des Produits Nestlé S.A.,
                  or used with permission.
                </div>
              </div>
            </div>
            <div class="container98">
              <div class="list5">
                <div class="link41">
                  <div class="link-facebook" id="linkFacebook">
                    <img
                      class="svg-icon1"
                      loading="lazy"
                      alt=""
                      src="{{ url_for('static', filename='public3/svg-1.svg') }}"
                    />
                  </div>
                </div>
                <div class="link-facebook" id="itemLinkTwitter">
                  <img
                    class="svg-icon1"
                    loading="lazy"
                    alt=""
                    src="{{ url_for('static', filename='public3/svg-2.svg') }}"
                  />
                </div>
                <div class="link-facebook" id="itemLinkInstagram">
                  <img
                    class="svg-icon1"
                    alt=""
                    src="{{ url_for('static', filename='public3/svg-3.svg') }}"
                  />
                </div>
                <div class="link-facebook" id="itemLinkYouTube">
                  <img
                    class="svg-icon1"
                    alt=""
                    src="{{ url_for('static', filename='public3/svg-4.svg') }}"
                  />
                </div>
                <div class="link-facebook" id="itemLinkPinterest">
                  <img
                    class="svg-icon1"
                    alt=""
                    src="{{ url_for('static', filename='public33/svg-5.svg') }}"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
